body {
  background-image: url("./assets/images/background.jpg");
  margin: 5px;
  height: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: rgba(#333, #333, #333, 0.1);
    color: #fff;
}

.logo a {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: -11px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}

.border {
  border-bottom: 5px solid #fff;
  margin: 0px 40px 0px 40px;
}

.sections {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

.nav-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    margin: 0;
    padding: 1rem;
}

.nav-link:hover {
    transform: scale(1.3);
}

.subjects {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 15vh;
  }
  
  .subject-img {
    padding: 15px;
    text-align: center;
    max-width: 100%;
    text-decoration: none;
    color: #fff;
    text-shadow: #000 2px 2px 2px;
  }

  .subject-img img {
    opacity: 80%;
  }
  
  .subject-img:hover img {
    box-shadow: 3px 3px 10px 3px #fff;
    opacity: 100%;
}
  
  .subject-img h1 {
    margin: 0;
  }
  
  .subject-img p {
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 18px;
  }
  
  .subject-img img {
    max-width: 100%;
    max-height: 100%;
  }

  .subjects-container {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 15vh;
    padding: 15px;
    text-align: center;
    max-width: 100%;
    text-decoration: none;
    text-shadow: #000 2px 2px 2px;
    color: #fff;    
  }

  .subjects-container div  a{
    display: flex;
    justify-content: center;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    max-width: 100%;
    text-decoration: none;
    color: #fff;
  }
  .subjects-container div  a:hover {
    transform: scale(1.2);

  }

  li {
    list-style: none;
  }


